.btn-custom {
  text-decoration: none;
  max-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: #ffff;
  background-color: #2d3e50;
  border-radius: 24px;
  font-size: 14px;
}

.btn-custom:hover {
  background-color: black;
  color: #ffff;
}
